page-simple-stop-home {
  .toolbar-background {
    background-color: #489be7;
    color: white !important;
  }
  .toolbar-title {
    color: white !important;
  }
  #title {
    text-align: center;
    color: #101d42;
    font-size: 28px;
    margin-top: 25px;
  }

  ion-item {
    padding: 0 !important;
  }

  #vin-form {
    padding: 0 45px;
  }
  .line {
    width: 130px;
    color: black !important;
    height: 1.55px !important;
    display: inline-block;
    background-color: black !important;
  }

  #divider {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
  }

  #select-options {
    margin-top: 100px;
    padding: 0 25px;
  }

  #select-options ion-item .item-inner {
    margin: 12px 0;
  }

  #pp {
    margin-left: 6em;
    margin-top: 1em;
    width: 7em;
    height: 2.5em;
    background-color: #489be7ff;
    color: white;
  }

  #submit {
    display: block;
    width: 150px;
    height: 50px;
    margin: auto;
    background-color: #fff;
    border: solid thin#489BE7;
    color: white;
    margin-top: 45px;
    font-size: 20px;
    color: #489be7;
  }

  .definition {
    color: darkblue;
    text-decoration: underline;
  }

  #logo {
    width: 75px;
    height: 75px;
  }
}
