page-educo-profile {
  .back-button {
    color: white !important;
  }
  .back-button-text {
    display: none;
  }

  .savebtn {
    background-color: #ffbf48 !important;
  }
  .input {
    bottom: 0%;
    position: fixed;
    margin-bottom: 10px;
  }
  .scroll {
    white-space: nowrap;
    color: #660000;
  }

  .box1 {
    width: 100%;
    margin: 10px 0;
  }

  .toolbar-background {
    background-color: #660000;
  }

  .toolbar-title.toolbar-title-md,
  .toolbar-title.toolbar-title-ios,
  .toolbar-title.toolbar-title-wp {
    color: map-get($colors, light);
    font-family: "Hermeneus One";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
  }

  .toolbar {
    height: 75px;
  }

  .btn {
    float: right;
    left: 0%;
    color: #660000;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 0px;
    position: relative;
    font-family: "Helvetica";
  }

  .postbtn {
    background-color: rgba(208, 208, 208, 0.98);
    border-radius: 20px;
    color: #5a5a5a;
    height: 33px;
    width: 35%;
    bottom: 0%;
    right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    margin-right: 50px;
  }

  #post {
    background-color: rgb(223, 222, 222);
    border-radius: 20px;
    width: 100%;
    height: 33px;
    position: relative;
    text-align: center;
    bottom: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: rgba(255, 166, 0, 0) solid 1px;
    position: relative;
    left: 0%;
  }

  #profileimg {
    background-image: "../assets/educo/imgs/profile2.png";
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }

  .text {
    margin: auto;
    color: black;
  }

  #addmenu {
    bottom: 0%;
    position: fixed;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
  }

  .addbtn {
    bottom: 0%;
    position: fixed;
  }

  .proimg {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .profiletxt {
    font-size: 20px;
  }

  #close-image {
    background-color: #ffbf48;
  }
  .toolbar-ios-primary .toolbar-background-ios {
    background-color: #ffbf48;
  }

  ion-list {
    background-color: #ffbf48;
  }

  .lists {
    background-color: #ffbf48;
    border: 0px;
    border-color: rgba(255, 166, 0, 0);
    align-items: flex-start;
  }

  p {
    font-family: "Helvetica Neue";
    color: black;
  }

  // ion-avatar img{
  //     display: inline-block;
  //     vertical-align: middle;
  // }

  .profileicon {
    width: 30px;
    height: 30px;
  }

  .info {
    background-color: white;
    font-size: 25px;
    left: 0%;
    align-content: center;
  }
  .profileinfo {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(164, 164, 164, 0.518);
    align-content: center;
  }

  #editbtn {
    background-color: white;
    color: #5796f6;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .savebtn {
    color: black;
    border-radius: 20px;
    width: 70%;
    height: 35px;
    margin-left: 12%;
    font-size: 25px;
    bottom: 0%;
    margin-bottom: 10px;
  }

  .menubtn {
    border-radius: 10px;
    background-image: "./assets/educo/imgs/profile2.png";
    width: 47px;
    height: 47px;
  }

  .profileFont {
    font-style: italic;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }

  .align {
    bottom: 0%;
    position: fixed;
    margin-top: 10px;
    margin-left: 20%;
  }

  .addChannel {
    border-bottom: 1px solid grey;
    bottom: 0%;
    position: fixed;
    /* margin-bottom: 50px; */
    width: 100%;
    height: 82px;
    margin: 0;
    left: 0;
    border-top: solid thin white;
  }

  #teacherimg {
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }

  .container {
    width: 10px;
    height: 20px;
    padding-right: 0%;
  }
  #first {
    width: 50px;
    float: left;
    height: 60px;
  }
  #second {
    width: 20px;
    margin-left: 20px;
    height: 20px;
    float: left;
  }

  .sideMenuInfo {
    text-align: center;
  }

  .toolbar-background {
    border: none;
  }

  .toolbar {
    border-bottom: solid thin white !important;
  }
  .lists {
    border: none !important;
  }

  .item-inner {
    border: none !important;
    background: none !important;
  }

  .custom {
    background-color: #ffbf48 !important;
    border-top: solid 0.55px white;
    border-bottom: none !important;
  }
  .lists {
    background-color: #ffbf48;
    border: 0px;
    border-color: rgba(255, 166, 0, 0);
    align-items: flex-start;
  }
}
