page-safe-trace-modal {
  #modal {
    background-color: #41a9de;
    width: 100%;
    height: 100%;
  }
  .toolbar-background {
    background: #41a9de;
  }
  .toolbar-title {
    color: white !important;
  }

  .miles {
    text-align: center;
    margin-top: 10px;
  }
}
